    <div class=row>
      <div class="col-sm-12">
        <div class=jumbotron >
          <div class="row">
            </br>
            <div class="col-sm-12">
                <h2>AGV Status:</h2>
                
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                <th scope="row">Battery Percentage</th>
                <td id="battery_percentage"></td>
                </tr>
                <tr>
                <th scope="row">Battery Time Remaining (Hour)</th>
                <td id="battery_time_remaining"></td>
                </tr>
                <tr>
                <th scope="row">Distance Until Next Target</th>
                <td id="distance_to_next_target"></td>
                </tr>
                <tr>
                <th scope="row">Postion X</th>
                <td id="position_x"></td>
                </tr>
                <tr>
                <th scope="row">Position Y</th>
                <td id="position_y"></td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                <th scope="row">Linear Velocity</th>
                <td id="velocity_linear"></td>
                </tr>
                <tr>
                <th scope="row">Angular Velocity</th>
                <td id="velocity_angular"></td>
                </tr>
                <tr>
                <th scope="row">State ID</th>
                <td id="state_id"></td>
                </tr>
                <tr>
                <th scope="row">State Description</th>
                <td id="state_text"></td>
                </tr>
                <!-- <tr>
                <th scope="row">Error Code</th>
                <td id="error_code"></td>
                </tr>
                <tr>
                <th scope="row">Error Description</th>
                <td id="error_description"></td>
                </tr>
                <tr>
                <th scope="row">Error Module</th>
                <td id="error_module"></td>
                </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>