@font-face {
font-family: "Lato";
src: url("lato.ttf");
}
body{
	font-family: 'Lato', sans-serif;
	height:100%;
	/*white-space: nowrap;*/

}
.center{
	padding-top:5%;
}
.hide{
	display:none;
}

.card-header{
	font-size: 25px;
}
.bigfont{
	font-size: 50px;
}

.btn-xl{
	height:100px;
	
	font-size: 50px;
}
.hidden{
	display: none;
}
.card-text{
	font-size: 18px;
}
.big-padding{
	width:100%;
}
.MissionCountDisplay{
	height:100px;
	width:100%;
	background-color: #ffffff;
	color: black;
  	text-align: center;
  	border-radius: 5px;
  	cursor: pointer;
}
.MissionCountDisplay h1{
	line-height: 100px;
}
.right-border{
	height: 100px;
	border-style: solid;
  	border-width: 0px 2px 0px 0px;
  	border-color: #555555;

}
.no-padding{
	padding:0px;
}

.badge{
	cursor: pointer;
}
.logo:hover, .logo2:hover{
	cursor: pointer;
}
@media screen and (max-width: 991px) {
  h1{
  	font-size: 3vw;
  }
  .bigfont{
  	font-size: 5vw;
  }
}
@media screen and (max-width: 767px) {
  .logo{
  	display: none;
  }
  .MissionCountDisplay{
	margin-top: 10px;
  }
  .card-text{
  	font-size: 2.5vw;
  }
}
.card{
	color: black;
}
.card span{
	margin-top: 5px;
}
@media screen and (max-width: 575px) {
  h1{
  	font-size: 6vw;
  }
}

/*UR Controller page specific*/
.opac{
	opacity:0.5;
}
.SubmitBtn{
	width: 50%;
}
.SubmitBtn2{
	width: 100%;
}
#Step2Body, #Step3Body, #mirfeedback{
	display: none;
}
.item-img{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.Step3BodyImg{
	position: relative;
  	text-align: center; 
  	display:inline-block;	
}
.Step3BodyImg img{
	opacity: 0.3
}
.Step3BodyImgCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden{
	display: none;
}

.bigfont2{
	font-size: 40px;
  	line-height: 71px;
}

@media screen and (max-width: 1200px) {
  .bigfont2{
  	font-size: 3vw;
  }
}
@media screen and (max-width: 991px) {
  .logo2{
  	display: none;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .bigfont2{
  	font-size: 30px;
  }
  #Item1_img img, #Item2_img img, #Item3_img img, #Item4_img img, #Item5_img img{
  	width:100px;
  	padding-top: 45px; 
  }
}
@media screen and (max-width: 767px) {
  .bigfont2{
  	font-size: 22px;
  }
  #Item1_img img, #Item2_img img, #Item3_img img, #Item4_img img, #Item5_img img{
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }
}
@media screen and (max-width: 573px) {
  .SubmitBtn2{
  	margin:3px;
  }
}
@media screen and (max-width: 521px) {
  .bigfont2{
  	font-size: 18px;vw;
  }
}
.p-no-margin p{
	margin-bottom: 0px;
}
